[submodule "00-custom-drag-and-drop"]
	path = 00-custom-drag-and-drop
	url = https://github.com/kruzkasu223/00-custom-drag-and-drop
[submodule "01-auto-complete-input"]
	path = 01-auto-complete-input
	url = https://github.com/kruzkasu223/01-auto-complete-input
[submodule "02-analogue-clock"]
	path = 02-analogue-clock
	url = https://github.com/kruzkasu223/02-analogue-clock
[submodule "03-stopwatch"]
	path = 03-stopwatch
	url = https://github.com/kruzkasu223/03-stopwatch
[submodule "04-higher-order-component"]
	path = 04-higher-order-component
	url = https://github.com/kruzkasu223/04-higher-order-component
[submodule "05-screen-recorder"]
	path = 05-screen-recorder
	url = https://github.com/kruzkasu223/05-screen-recorder
[submodule "06-password-generator"]
	path = 06-password-generator
	url = https://github.com/kruzkasu223/06-password-generator
[submodule "07-css-gradient-generator"]
	path = 07-css-gradient-generator
	url = https://github.com/kruzkasu223/07-css-gradient-generator
[submodule "08-currency-converter"]
	path = 08-currency-converter
	url = https://github.com/kruzkasu223/08-currency-converter
[submodule "09-weather"]
	path = 09-weather
	url = https://github.com/kruzkasu223/09-weather
[submodule "10-navigation-interceptor-nextjs"]
	path = 10-navigation-interceptor-nextjs
	url = https://github.com/kruzkasu223/10-navigation-interceptor-nextjs
[submodule "11-kanban-board"]
	path = 11-kanban-board
	url = https://github.com/kruzkasu223/11-kanban-board
[submodule "12-infinite-scrolling"]
	path = 12-infinite-scrolling
	url = https://github.com/kruzkasu223/12-infinite-scrolling
[submodule "13-image-gallery"]
	path = 13-image-gallery
	url = https://github.com/kruzkasu223/13-image-gallery
[submodule "14-pomodoro"]
	path = 14-pomodoro
	url = https://github.com/kruzkasu223/14-pomodoro
[submodule "15-quiz"]
	path = 15-quiz
	url = https://github.com/kruzkasu223/15-quiz
[submodule "16-notes"]
	path = 16-notes
	url = https://github.com/kruzkasu223/16-notes
[submodule "17-custom-pagination"]
	path = 17-custom-pagination
	url = https://github.com/kruzkasu223/17-custom-pagination
[submodule "18-html-to-pdf"]
	path = 18-html-to-pdf
	url = https://github.com/kruzkasu223/18-html-to-pdf
[submodule "19-link-shortner"]
	path = 19-link-shortner
	url = https://github.com/kruzkasu223/19-link-shortner
[submodule "20-minimal-ecommerce"]
	path = 20-minimal-ecommerce
	url = https://github.com/kruzkasu223/20-minimal-ecommerce
[submodule "21-crypto-price"]
	path = 21-crypto-price
	url = https://github.com/kruzkasu223/21-crypto-price
[submodule "22-tmdb-designed"]
	path = 22-tmdb-designed
	url = https://github.com/kruzkasu223/22-tmdb-designed
[submodule "23-tree-structure"]
	path = 23-tree-structure
	url = https://github.com/kruzkasu223/23-tree-structure
[submodule "24-form-validation"]
	path = 24-form-validation
	url = https://github.com/kruzkasu223/24-form-validation
[submodule "25-parallax"]
	path = 25-parallax
	url = https://github.com/kruzkasu223/25-parallax
[submodule "26-date-formatter-cli"]
	path = 26-date-formatter-cli
	url = https://github.com/kruzkasu223/26-date-formatter-cli
