[submodule "00-custom-drag-and-drop"]
	path = 00-custom-drag-and-drop
	url = https://github.com/kruzkasu223/00-custom-drag-and-drop
[submodule "01-auto-complete-input"]
	path = 01-auto-complete-input
	url = https://github.com/kruzkasu223/01-auto-complete-input
[submodule "02-analogue-clock"]
	path = 02-analogue-clock
	url = https://github.com/kruzkasu223/02-analogue-clock
[submodule "03-stopwatch"]
	path = 03-stopwatch
	url = https://github.com/kruzkasu223/03-stopwatch
[submodule "04-higher-order-component"]
	path = 04-higher-order-component
	url = https://github.com/kruzkasu223/04-higher-order-component
[submodule "05-screen-recorder"]
	path = 05-screen-recorder
	url = https://github.com/kruzkasu223/05-screen-recorder
[submodule "06-password-generator"]
	path = 06-password-generator
	url = https://github.com/kruzkasu223/06-password-generator
[submodule "07-css-gradient-generator"]
	path = 07-css-gradient-generator
	url = https://github.com/kruzkasu223/07-css-gradient-generator
[submodule "08-currency-converter"]
	path = 08-currency-converter
	url = https://github.com/kruzkasu223/08-currency-converter
[submodule "09-weather"]
	path = 09-weather
	url = https://github.com/kruzkasu223/09-weather
[submodule "10-navigation-interceptor-nextjs"]
	path = 10-navigation-interceptor-nextjs
	url = https://github.com/kruzkasu223/10-navigation-interceptor-nextjs
[submodule "11-kanban-board"]
	path = 11-kanban-board
	url = https://github.com/kruzkasu223/11-kanban-board
