[submodule "00-custom-drag-and-drop"]
	path = 00-custom-drag-and-drop
	url = https://github.com/kruzkasu223/00-custom-drag-and-drop
[submodule "01-auto-complete-input"]
	path = 01-auto-complete-input
	url = https://github.com/kruzkasu223/01-auto-complete-input
[submodule "02-analogue-clock"]
	path = 02-analogue-clock
	url = https://github.com/kruzkasu223/02-analogue-clock
[submodule "03-stopwatch"]
	path = 03-stopwatch
	url = https://github.com/kruzkasu223/03-stopwatch
